@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body { 
    font-family:'Nanum Gothic', 돋움, Arial, Helvetica, sans-serif;
    font-size:12px;
}


/* header */
header {}
.headerInner {
    position:relative;
    width:940px;
    margin:0 auto;
}

h1 {
    margin:0 auto 10px;
    padding-top:15px;
    width:66px;
}

.gnb {
    display:flex;
    margin-bottom:3px;
}
.gnb > li {
    flex:1;
    height:60px;
    text-align:center;
}
.gnb > li > a {
    display:block;
    padding:17px 0 5px;
    font-size:17px;
    font-weight:bold;
    color:#000;
}
.gnb span{
    font-size:11px;
    color:#808080;
    opacity:0;
    transition:0.8s;
}

.gnb > li:hover {
    background-color:#ba000c;
}
.gnb > li:hover a {
    color:#fff;
}

.gnb > li:hover > span {
    color:#fff;
}
.gnb:hover span {
    opacity:1;
}

.quickBanner {
    position:absolute;
    top:0;
    display:flex;
}
.quickBanner li:last-child {
    margin:20px 0 0 10px;
}

.util {
    position:absolute;
    right:0;
    top:20px;
    display:flex;
}
.util li {
    margin-left:12px;
}
.util a {
    color:#666;
    font-size:10px;
    font-weight:bold;
}

/* mainVisual */
.mainVisual {
    width:100%;
    min-width:960px;
    height:480px;
    overflow:hidden;
    border-top:2px solid #ba000c;
}
.mainVisual .imgs {
    position:relative;
    width:1920px;
    left:50%;
    transform:translate(-50%);
}
/* contents */
.contents {
    width:940px;
    margin:0 auto;
    padding:45px 0 100px;
}
.content1 {
    display:flex;
    justify-content:space-between;
}
.content1 > div {}
.content1 > div > img {
    margin:30px 0 0 20px;
}
.content1Left {
    width:225px;
    background:#faf9f7;
}
.content1Center {
    width:455px;
}
.content1Center > p {
    margin:10px 0 30px 20px;
}
.content1Center ul {
    display:flex;
}
.content1Center ul > li {
    position:relative;
    flex:1;
    padding-top:10px;
    text-align:center;
}
.content1Center ul > li::after {
    position:absolute;
    display:block;
    content:"";
    right:0;
    top:0;
    width:3px;
    height:105px;
    border-left:1px dotted rgb(46, 46, 46);
}
.content1Center ul > li:last-child::after {
    display:none;
}
.content1Center ul a {
    color:#808080;
}
.content1Center ul a:hover{
    color:#ba000c;
}
.content1Center ul img {
    width:86px;
}
.content1Center ul p {
    padding:10px 25px 0;
    line-height:1.5em;
}
.content1Right {
    width:240px;
    background:#faf9f7;
}

.contents2 {
    display:flex;
    justify-content:space-between;
    margin-top:40px;
}
.bannerMember {}
.bannerGift {}

.contents3 {
    margin-top:40px;
    display:flex;
    justify-content:space-between;
}
.contents3 > ul {
    width:205px;
}

.contents3 .contents3Title {
    margin-bottom:17px;
}
.contents3 li {
    color:#666;
    line-height:1.5em;
}
.go {
    margin-top:10px;
    padding-left:20px;
    background:url("../img/ico_arrow.gif") no-repeat left 2px;
}

.news {}
.news li {
    margin-bottom:5px;
}
.news li a {
    display:flex;
    justify-content:space-between;
    color:inherit;
}
.news li span {}
.news li span:nth-child(1) {
    width:160px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.news li span:nth-child(2) {}

.ect {
    display:flex;
}
.ect li {
    flex:1;
}
.ect li::after {
    position:relative;
    right:0;
    top:0;
    content:"";
    width:1px;
    height: 105px;
    border-left:1px dotted #aaa;
}
.ect a {
    display:block;
    text-align:center;
    color:#666;
}
.ect img {
    margin:10px 0;
}
.ect p {
    white-space:nowrap;
}

.contents4 {
    margin-top:50px;
    border-top:2px solid #ba000c;
    padding-top:40px;
}
.contents4 p{}
.contents4 span {
    font-size:25px;
    font-weight:bold;
    padding-right:30px;
}
.contents4 a {
    padding-right:3px;
}
.contents4 img {
    vertical-align:bottom;
}
/* footer */

footer {
    background-color:#ba000c;
    padding:30px 0 40px 0;
}
#footerIn {
    width:940px;
    margin:0 auto;
}
footer ul {
    display:flex;
    margin-bottom:20px;
}
footer li {
    padding:0 5px 0 4px;
    border-left: 1px solid #fff;
}
footer li:first-child {
    padding:0 5px 0 4px;
    border-left:none;
}
footer a {
    color:#fff;
}
footer a:hover {
    text-decoration:underline;
}
footer p {
    color:#d4333e;
    line-height:1.5em;
    letter-spacing:-0.5;
}
footer p.address {}